
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 225, 225);
}




.content{
    background-color: white;
    padding: 1rem;
    height: 100vh;
    width: 100vw;

}

@media only screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;

    }
  }


  


